
input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    color: #444;
    border:3px solid #000000;
    
    width: 350px;
    height: 30px;
    transition: all.5s;
}
input.src:hover{
    background-color: #fff;
    border-color: rgb(35, 36, 15);
    box-shadow: 0 0 15px #6dc;
}
/* Cajas */
.container{
    text-align: center;
    margin: 0;
    padding: 10px;
    display: grid;
    width: 100%;
    gap: 4px;
	align-items: center;
	justify-content: center;
    background-image: url("../img/fondos/estantelibros2.jpg");
    color: #fff;
   
}

.boxone{
    grid-template-columns: auto auto;
    justify-content: center;
    display: flex;
    gap: 580px;
}
.boxtwo{  
    display: flex;
    gap: 10px;
}
.boxtree{
    justify-content: center;
    display: flex;
}

fieldset{
    border: 2px solid black;
}

label{
    font-size: 12px;
}
td a{
    font-size: 12px;
    color: #fff;
}
.cuenta .opt{
    width: 100%;
    background: #484363;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.cuenta{
    display: grid;
    grid-template-columns: auto auto;
}
@media (max-width: 1040px){
	.boxone{
      gap: 40%;
    }  
    .boxtwo{
        gap: 5px;
    } 
}
@media (max-width: 770px){
	.boxone{
      gap: 20%;
    } 
    .boxone div h1{
        font-size: 30px;
    }
    .boxtwo h2 {
        font-size: 18px;
    }  
   .boxtwo .src{
    width:300px ;
   }
   label{
    font-size: 7px;
    }
    td a{
    font-size: 7px;
    }
}
@media (max-width: 610px){
	.boxone{
      gap: 10%;
    } 
    .boxone div h1{
        font-size: 30px;
    }
    .boxtwo h2 {
        font-size: 18px;
    }  
   .boxtwo .src{
    width:150px ;
   }
   label{
    font-size: 7px;
    }
    td a{
    font-size: 7px;
    }
}
@media (max-width: 510px){
	.boxone{
      gap: 10%;
    } 
    .boxone div h1{
        font-size: 20px;
    }
    .cuenta img{
        width: 30px;
        height: 30px;
    }
    .cuenta .opt{
        height: 30px;
       font-size: 16px;
       padding: 0px;
    }   
    .boxtwo h2 {
        font-size: 18px;
    }  
   .boxtwo .src{
    width:150px ;
   }
   label{
    font-size: 5px;
    }
    td a{
    font-size: 5px;
    }
}